body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #272B27;
    color: white;
    transition: 0.3s;
}

header{

    background:#6A56B3;

    color:white;

    height:70px;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:28px;

    font-weight:bold;

}

.container {
    display: flex;
    height: calc(100vh - 80px);
}

.sidebar {
    width: 250px;
    background: #20231f;
    padding: 20px;
}

.sidebar h2 {
    color: #65AEE2;
}

.friend {
    padding: 12px;
    border-radius: 10px;
    margin: 10px 0;
    background: #343834;
}

.chat {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.message {
    background: #343834;
    padding: 12px;
    border-radius: 15px;
    width: fit-content;
    margin: 10px 0;
    max-width: 60%;
}

.my-message {
    background: #6A56B3;
    margin-left: auto;
}

.message-name {
    font-size: 12px;
    color: #65AEE2;
    margin-bottom: 5px;
}

input {
    width: 80%;
    padding: 12px;
    border-radius: 20px;
    border: none;
    input::placeholder{
    color:#777;

}
}

button {
    background: #65AEE2;
    border: none;
    padding: 12px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.light {
    background: #F8FAFC;
    color: #272B27;
}

.light .sidebar {
    background: #ffffff;
}

.avatar{
    width:40px;
    height:40px;
    border-radius:50%;
    margin-right:10px;
}

.friend{
    display:flex;
    align-items:center;
    gap:10px;
}

#messages {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.input-area {
    display: flex;
    gap: 10px;
    margin-top: auto;
}

.input-area input {
    flex: 1;
}

.notification {
    background: #3B82F6;
    color: white;
    font-size: 12px;
    min-width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    font-weight: bold;
}
.message {
    padding: 10px 14px;
    margin: 10px;
    border-radius: 12px;
    max-width: 70%;
    background: #272B27;
    display: block;
}


.my-message {
    margin-left: auto;
    background: #6A56B3;
}


.message-name {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}


.message small {
    display: block;
    margin-top: 5px;
    font-size: 11px;
    opacity: 0.7;
}


#messages {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto;
    padding: 10px;
}

.settings-button{

    margin-top:auto;

    padding:15px;

    cursor:pointer;

    border-top:1px solid #444;

    transition:.2s;

}

.settings-button:hover{

    background:#333;

}

.chat-header{

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:15px;

    border-bottom:1px solid #444;

}


.chat-user{

    display:flex;

    align-items:center;

    gap:12px;

}


.chat-avatar{

    width:45px;

    height:45px;

    border-radius:50%;

}


.online-dot{

    width:14px;

    height:14px;

    background:#35d04a;

    border-radius:50%;

}
.settings-container{

    width:80%;

    margin:auto;

    padding:30px;

}



.settings-card{

    background:#272B27;

    padding:20px;

    margin-bottom:20px;

    border-radius:15px;

}



.settings-card h2{

    margin-top:0;

}



.setting-option{

    padding:15px;

    margin-top:10px;

    border-radius:10px;

    cursor:pointer;

    transition:.2s;

}



.setting-option:hover{

    background:#6A56B3;

}



.delete-btn{

    background:#d9534f;

    color:white;

    border:none;

    padding:15px;

    border-radius:10px;

    cursor:pointer;

}
.settings-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:15px 25px;

}


.home-button{

    background:#6A56B3;

    color:white;

    border:none;

    padding:10px 18px;

    border-radius:10px;

    cursor:pointer;

    font-size:16px;

    transition:.2s;

}


.home-button:hover{

    background:#65AEE2;

}
.settings-card input{

    width:90%;

    padding:12px;

    margin:10px 0;

    border-radius:10px;

    border:none;

    font-size:16px;

}


.settings-card button{

    background:#6A56B3;

    color:white;

    border:none;

    padding:12px 20px;

    border-radius:10px;

    cursor:pointer;

}


.settings-card button:hover{

    background:#65AEE2;

}